@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

:root {
  --colorPrimary: #418C5D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */


/* Navbar personalizado arredondado */
nav.navbar {
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.1);
}

nav .nav-link {
  border-radius: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600;
}

  nav .nav-link:hover:not(.active) {
    background-color: #198754;
    color: white;
  }

  nav .nav-link.active {
    background-color: #198754;
    color: white;
    box-shadow: 0 4px 10px rgb(25 135 84 / 0.5);
  }

/* Para reforçar arredondamento em outros botões */
.custom-border-max {
  border-radius: 5rem;
}
/* Hero Section */
.hero {
  height: 100vh;
  background: url('../images/background.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  text-align: left;
  animation: changeOpacity 0.7s ease-out forwards;
}

.hero-content {
  margin-top: 20vh;
  height: 55vh;
  gap: 15px;
  background: #418c5c91;
  padding: 50px 50px 0 70px;
  border-radius: 0 50px 50px 0;
  color: white;
  max-width: 48vw;
}



.hero h1 {
  margin-top: 20px;
  font-size: 5.5rem;
  text-shadow: 2px 2px 4px #000000b8;
  font-weight: bold;
  opacity: 0;
  animation: changeOpacity 1.5s ease-out forwards;
  animation-delay: 0.4s;
}

.hero p {
  font-size: 3.2rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px #000000b8;
}

h2 {
  margin-top: 20px;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--colorPrimary);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  opacity: 0;
  animation: changeOpacity 1.5s ease-out forwards;
  animation-delay: 0.4s;
  
}

@media (max-width: 1600px) {
  .hero h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 1400px) {
  .hero h1 {
    font-size: 2.2rem;
  }
}

@keyframes changeOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.subtitulo-clinica {
  font-size: 2.4rem;
  opacity: 0;
  text-shadow: 2px 3px 1px rgba(116, 116, 116, 0.527);
  animation: changeOpacity 1.5s ease-out forwards;
  animation-delay: 1.8s;
}

@media (max-width: 1600px) {
  .subtitulo-clinica {
    font-size: 2rem;
  }
}

@media (max-width: 1400px) {
  .subtitulo-clinica {
    font-size: 1.5rem;
  }
}

/* WhatsApp Icon */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #0dcc0d;
  color: white;
  font-size: 28px;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 9999;
}

  .whatsapp-icon:hover {
    background: #0dff0d;
  }

.logo img {
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
}

.backgound-img {
  background-color: var(--colorPrimary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  padding: 15px;
  border-radius: 150px;
  transform: translateY(105px);
}

  .backgound-img img {
    width: 10vw;
    height: 12vh;
    border-radius: 150px;
  }

/* O Que Fazemos */
.section-oque-fazemos {
  padding: 5vw 2vw 2vw;
  background-color: #f1f2f1;
  min-height: 100vh;
}

.agrupador-motivos {
  display: flex;
  align-items: center;
}

.section-oque-fazemos h2 {
  color: var(--colorPrimary);
  border-bottom: 2px solid var(--colorPrimary);
  margin: 0 auto 30px;
  text-align: center;
  font-size: 7vh;
  max-width: 600px;
}

.section-oque-fazemos h3 {
  border-bottom: 2px solid var(--colorPrimary);
  font-size: 1.5rem;
  margin: 20px;
  color: #418c5d;
}

.grid-motivos {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 0 6vw 10vh;
  border-radius: 50px;
  height: auto;
}

  .grid-motivos p,
  .teste {
    background-color: #fbfcfb;
    text-align: center;
    padding: 30px 35px;
    border-radius: 45px;
    height: auto;
  }

/* Botão Veja Mais */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes textColor {
  0% {
    color: white;
  }

  50% {
    color: #c9fd75;
  }

  100% {
    color: white;
  }
}

.btn-veja-mais {
  text-decoration: none;
  background-color: var(--colorPrimary);
  border-radius: 42px;
  color: white;
  font-weight: bold;
  padding: 20px;
  width: 10vw;
  text-align: center;
  transform: translateY(-30px);
  transition: 0.5s;
}

  .btn-veja-mais:hover {
    animation: pulse 1.6s ease-in-out infinite, textColor 1.6s ease-in-out infinite;
  }

/* Quem Somos */
.hero-quem-somos {
  height: 100vh;
  background: url('../images/11.png') center/cover no-repeat;
  display: flex;
  align-items: center;
}

.hero-content-quem-somos {
  margin-top: 2vh;
  height: 55vh;
  gap: 15px;
  padding: 50px 50px 0 70px;
  border-radius: 0 50px 50px 0;
  color: black;
  max-width: 48vw;
}

  .hero-content-quem-somos h2 {
    border-bottom: 2px solid var(--colorPrimary);
    color: var(--colorPrimary);
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .hero-content-quem-somos p {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 30px;
    max-width: 45vw;
  }

  .hero-content-quem-somos .btn-veja-mais {
    padding: 15px 25px;
    width: 12vw;
  }

.marca-texto-verde {
  color: var(--colorPrimary);
  font-weight: bold;
}

/* Nossos Produtos */
.hero-nossos-produtos-home {
  height: 100vh;
  background: url('../images/15.png');
  background-size: 120% 120%;
  display: flex;
  align-items: center;
}

.divisor-aparelhos {
  display: flex;
  justify-content: center;
}

.separador-aparelhos {
  width: 70vw;
}

.card-aparelhos {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  border-radius: 50px;
  height: auto;
  width: 20vw;
}

  .card-aparelhos p {
    background-color: #fbfcfb;
    text-align: center;
    padding: 90px 35px 30px;
    border-radius: 45px;
    height: 52vh;
  }

.hero-nossos-produtos-home h3 {
  font-size: 38px;
  text-align: center;
  border-bottom: 2px solid var(--colorPrimary);
  margin: 20px;
  color: var(--colorPrimary);
}

.card-img-top {
  background: #418c5d;
  border-radius: 5rem 5rem 0 0;
}


.card{
  border-radius: 5rem;
}

.card-top-section {
  border-radius: 0 50px 50px 0;
}